.container {
  padding: 40px;
  max-width: 100%;
}

.nav-link {
  margin-left: 25px;
}

.routeComponentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
